
TF16400962.xlsx
*.pdf
*.pptx
*.pptx
*.pptx
PMI Case Study 2/Bernardo_Fernandes_case_study2.pptx
OLX case study/datasets.tar.gz
OLX case study/datasets/data1.csv
OLX case study/datasets/data2.csv
OLX case study/datasets/data3.csv
OLX case study/datasets/PaxHeader/data1.csv
OLX case study/datasets/PaxHeader/data2.csv
OLX case study/datasets/PaxHeader/data3.csv
